### Functions

In [1]:
# A user-defined function is defined with def funtionname()

def greet():
    print('hello')
    print('Good morning')

In [3]:
# funtion should be call by the user to use it and call at the end of the program
def greet():
    print('hello')
    print('Good morning')
greet()

hello
Good morning

In [4]:
def greet():
    print('hello')
    print('Good morning')
greet()

def greet():
    print('hello')
    print('Good morning')
greet()

hello
Good morning
hello
Good morning

In [5]:
def greet():
    print('hello')
    print('Good morning')
greet()

print()

def greet():
    print('hello')
    print('Good morning')
greet()

hello
Good morning

hello
Good morning

In [6]:
def greet(): 
    print('hello')
    print('good morning team')
greet()

print()

def greet(): 
    print('hello')
    print('good morning team')
greet()

print()

def greet(): 
    print('hello')
    print('good morning team')
greet()

hello
good morning team

hello
good morning team

hello
good morning team

In [7]:
# it is no need to create a funtion to call it multiple times because once we create a funtion we can call it multiple times

def greet(): 
    print('hello')
    print('good morning team')
greet()

print('*****************')
greet()

print('*****************')
greet()

hello
good morning team
*****************
hello
good morning team
*****************
hello
good morning team

In [8]:
#creating a funtion with out argument

def greet():
    print('Hello')
    print('Good Morning')
    
greet()

Hello
Good Morning

In [9]:
# creating the funtions with argument
def add(x,y):
    c=x+y
    print(c)
add(5,6)

11

In [10]:
# wee call the funtion by return keywod instead of print stmt 

def sub(x,y):
    c=x-y
    return c

sub(4,2)

2

In [11]:
# it prints error if we create a two argument funtion and give only one argument

def sub(x,y):
    c=x-y
    return c

sub(4)

TypeError: sub() missing 1 required positional argument: 'y'

In [12]:
# it prints error if we create a two argument funtion and pass threearg ument

def sub(x,y):
    c=x-y
    return c

sub(5,2,1)

TypeError: sub() takes 2 positional arguments but 3 were given

In [13]:
# it prints error if we create a two argument funtion and give only one argument

def sub(x,y,z):
    c=x-y
    return c

sub(6,4,1)

2

In [15]:
def add(x,y,z):
    c= x+y+z+m
    return c

add(2,3,4,5)

TypeError: add() takes 3 positional arguments but 4 were given

In [16]:
def add(x,y,z,n):
    c= x+y+z+m
    return c

add(2,3,4,5)

NameError: name 'm' is not defined

In [18]:
def add(x,y,z,n):
    c= x+y+z+n
    return c

add(2,3,4,5)

14

In [19]:
# creating a funtion with and without argument

def wishes():
    print('Good Morning')
    print('Welcome to Hyderbad')
wishes()

def add(x,y):
    c=x+y
    return c
add(2,3)

Good Morning
Welcome to Hyderbad

5

In [21]:
def wishes():
    print('Good Morning')
    print('Welcome to Hyderbad')

def add(x,y):
    c=x+y
    return c

def sub(x,y):
    d=x-y
    return d

wishes()
print(add(2,3))
print(sub(5,2))

Good Morning
Welcome to Hyderbad
5
3

In [22]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c,d

result=add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [25]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c,d

result,result1 =add_sub(4,5)
print(result)
print(result1)
print(type(result))

9
-1
<class 'int'>

In [26]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c,d

add, sub=add_sub(4,5)
add

9

#### update

In [29]:
def update():
    x= 8
    print(x)
update()

8

In [31]:
def update():
    x=8
    print(x)

update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [32]:
def update(x):
    x=10
    return x
update(100)

10

In [33]:
def update(x):
    x=10
    return x
a=15
update(a)
print(a)

15

### 07/08/2025

In [18]:
def person(name, age):
    print(name)
    print(age)

person(22,'nit')

22
nit

In [19]:
def person(name, age):
    print(name)
    print(age)

person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [20]:
def person(name, age):
    print(name)
    print(age)

person(22)

TypeError: person() missing 1 required positional argument: 'age'

In [21]:
def person(name, age):
    print(name)
    print(age)

person('nit',23,43,12,45)

TypeError: person() takes 2 positional arguments but 5 were given

In [22]:
def person(name, age):
    print(name)
    print(age)

person(22,'nit')

22
nit

In [23]:
def person(name, age):
    print(name)
    print(age-1)

person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [24]:
def person(name, age):
    print(name)
    print(age-1)

person(age= 22,name= 'nit')

nit
21

def person(name, age, new_age):
    print(name)
    print(age)

person(age= 22,name= 'nit')

In [27]:
def person(name, age, new_age):
    print(name)
    print(age)
    print(new_age)

person(age= 22,name= 'nit', new_age= 25)

nit
22
25

### default argument

In [28]:
def person(name, age=18): #assiging some default value while declaring the argument
    print(name)
    print(age)

person('nit')

nit
18

In [29]:
def person(name, age=18):
    print(name)
    print(age)

person('nit',24)

nit
24

### variable length argument(*)

In [31]:
def person(name, age):
    print(name)
    print(age)

person('nit',24,25,32,12)

TypeError: person() takes 2 positional arguments but 4 were given

In [32]:
def person(name, *age):
    print(name)
    print(age)

person('Bharat',24,25,32,12)

Bharat
(24, 25, 32, 12)

In [33]:
def sum (a, *b):
    c=a+b
    print(c)

sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [34]:
def sum (a, *b):
    #c=a+b
    print(a)
    print(b)

sum(5,6,7,8)

5
(6, 7, 8)

In [35]:
def sum (a, *b):
    #c=a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [37]:
def sum (a, *b):
    c= a
    for i in b:
        c=c+i
    print(c)

sum(5,6,7,8)

26

In [38]:
def sum (a, *b):
    c= 0
    for i in b:
        c=c+i
    print(c)

sum(5,6,7,8)

21

### Kwargs

In [39]:
def person():
    person('Alex',36,'John',45)

In [40]:
def person(name, *data):
    print(name)
    print(data)

person('Alex',36,'John',45)

Alex
(36, 'John', 45)

In [41]:
def person(name, **data):
    print(name)
    print(data)

person('Sai',age=36,city='hyd',mobileno =1514115)

Sai
{'age': 36, 'city': 'hyd', 'mobileno': 1514115}

In [42]:
def person(name, **data):
    print(name)
    print(data)

person('Sai',age=36,city='hyd',mobileno =1514115,salary=51000)

Sai
{'age': 36, 'city': 'hyd', 'mobileno': 1514115, 'salary': 51000}

### global variable & local Variable

In [44]:
a= 21 #global variable
def something():
    b=15 # local varible

In [45]:
a= 21 #global variable
def something():
    b=15 # local varible

    print('in funt',b)
    print('out funt',a)

In [46]:
a= 21 #global variable
def something():
    b=15 # local varible

    print('in funt',b)
print('out funt',a)

out funt 21

In [48]:
a= 21 #global variable
def something():
    a=15 # local varible

print('in funt',a)
print('out funt',a)

in funt 21
out funt 21

In [49]:
a= 21 #global variable
def something():
    b=15 # local varible
    print('in funt',b)
something()

print('out funt',a)

in funt 15
out funt 21

In [51]:
a= 17 #global variable
def something():
    print('in funt',a)
something()

print('out funt',a)

in funt 17
out funt 17

In [55]:
a= 15
def some():
    global a
    b= 19
    print('in funtion',b)
    print('gloabl variable',a)

some()

print('out function',a)

in funtion 19
gloabl variable 15
out function 15

In [58]:
n= 40
def some():
    global n
    n=20
    print('in funtion',n)

    n=20

some()
print('out funtion',n)

in funtion 20
out funtion 20

In [62]:
n= 30
def some():
    global n
    n=20
    print('in funtion',n)

    n+=20
some()
print(n)

in funtion 20
40

In [65]:
x=20
def update_x():
    global x
    x+=5

update_x()
print(x)

25

In [67]:
x= 30

def update_x():
    globals()['x']+=5 #globals()- 
update_x()
print(x)

35