### print statement

In [4]:
a= 12
b=32

In [5]:
a
b

32

In [7]:
print(a)
print(b)

12
32

In [9]:
print('age')
print(a)
print('rol no.')
print(b)

age
12
rol no.
32

In [10]:
x= 94
y= 6

In [11]:
sum= x+y

In [13]:
print(sum)

100

### print result using string

In [17]:
x= 94
y= 56
z= x+y
print('the sum of ',x,' and ',y,' is', z)

the sum of  94  and  56  is 150

In [19]:
Name= 'Bharat'
Age = '22'
city ='Srikakulam'
print('I am ',Name,'coming from',city,'and my age is',Age,)

I am  Bharat coming from Srikakulam and my age is 22

In [21]:
# print by using format()
print('The sum of {} and {} is {}'.format(x,y,z))
print('I am {} coming from {} and i\'m {} year old'.format(Name,city,Age))

The sum of 94 and 56 is 150
I am Bharat coming from Srikakulam and i'm 22 year old

In [22]:
num1=234
num2=123
num3=112
avg= (num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,3)

In [26]:
print('The average of {},{} and{} is= {} or {}'.format(num1,num2,num3,avg,avg1)) # format 1

The average of 234,123 and112 is= 156.33333333333334 or 156.333

In [25]:
round(avg,2)

156.33

In [27]:
print(f'The average of {num1},{num2} and{num3} is= {avg} or {avg1}')

The average of 234,123 and112 is= 156.33333333333334 or 156.333

In [35]:
x= 94
y= 62
z=52
avg=round((x+y+z)/3,2)

In [36]:
print(f'The avg {x}, {y} and {z} is {avg}')

The avg 94, 62 and 52 is 69.33

In [43]:
print('The avg of ',x,',',y,' and ',z,' is', avg)
print('The avg of {},{} and {} is {}'.format(x,y,z,avg))
print(f'The avg of {x}, {y} and {z} is {avg}')

The avg of  94 , 62  and  52  is 69.33
The avg of 94,62 and 52 is 69.33
The avg of 94, 62 and 52 is 69.33

### end statement

In [44]:
print('Good Morning')
print('Welcome to Hyderabad')

Good Morning
Welcome to Hyderabad

In [45]:
print('Good Morning', end=' ')
print('Welcome to Hyderabad')

Good Morning Welcome to Hyderabad

In [46]:
print('Good Morning', end=',')
print('Welcome to Hyderabad')

Good Morning,Welcome to Hyderabad

### Seprator

In [47]:
print('Hello','Good Morning','Welocome to Naresh it')

Hello Good Morning Welocome to Naresh it

In [48]:
print('Hello','Good Morning','Welocome to Naresh it',sep=',')

Hello,Good Morning,Welocome to Naresh it

In [50]:
print('Hello','Good Morning','Welocome to Naresh it',sep='---')

Hello---Good Morning---Welocome to Naresh it

In [53]:
print('Hello',end= ',')
print('Good Morning','Welocome to Naresh it.',sep=',')

Hello,Good Morning,Welocome to Naresh it.