### Tuple Creation

In [1]:
tup1=() #gives the tuple data set

In [2]:
tup1

()

In [3]:
type(tup1)

tuple

In [4]:
tup2=(1,2,3,4,5,6) #int tuple

In [5]:
tup3=(1.23,3.4,5.5,6.3) # float tuple

In [6]:
tup4=('Hi','gud','Morning') # str tuple

In [7]:
tup5=(4+3j ,5+2j, 1+7j) # complex tuple

In [8]:
print(tup2)
print(tup3)
print(tup4)
print(tup5)
print(type(tup2))
print(type(tup3))
print(type(tup4))
print(type(tup5))

(1, 2, 3, 4, 5, 6)
(1.23, 3.4, 5.5, 6.3)
('Hi', 'gud', 'Morning')
((4+3j), (5+2j), (1+7j))
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [9]:
tupl2=(2,3,4,5,1,5,6,7,9)
tupl2

(2, 3, 4, 5, 1, 5, 6, 7, 9)

In [10]:
tupl3=(2,3,4.56,'Bharat',(1,2),(2.3,4.2),('nit','get')) # Nested tuple

### indexing & slicing

In [11]:
tupl2[0] # forward indexing

2

In [12]:
tupl2[-2] #  backward  indexing

7

In [13]:
tupl3[3]

'Bharat'

In [14]:
tupl3[5]

(2.3, 4.2)

In [15]:
tupl3[6][-1] #nested indexing

'get'

In [16]:
tupl3[6][0]

'nit'

In [17]:
tupl2[:] # total slicing

(2, 3, 4, 5, 1, 5, 6, 7, 9)

In [18]:
tupl2[2:5] # forward slicing

(4, 5, 1)

In [19]:
tupl2[-3:-1] #backward slicing

(6, 7)

In [20]:
tupl2[2:]

(4, 5, 1, 5, 6, 7, 9)

In [21]:
tupl2[:3]

(2, 3, 4)

In [22]:
tupl2[-4:]

(5, 6, 7, 9)

In [23]:
tupl3[:-2]

(2, 3, 4.56, 'Bharat', (1, 2))

In [24]:
tupl3[-2:][-1]

('nit', 'get')

### Tuple Loops & membership

In [25]:
tupl4=('one','two','three','four','five','six')
tupl4

('one', 'two', 'three', 'four', 'five', 'six')

In [26]:
for i in tupl4:
    print(i)

one
two
three
four
five
six

In [27]:
for i in enumerate(tupl4):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')

In [28]:
if 'one' in tupl4:
    print("One is in the data")
else:
    print("One is not in the data")

One is in the data

In [29]:
if ('nit','get') in tupl3:
    print('Naresh IT')
else :
    print('no nit')

Naresh IT

In [30]:
if 'seven' in tupl3:
    print('Seven')
else:
    print("No Seven")

No Seven

In [31]:
"one" in tupl4

True

### Removing & Change

In [ ]:
# In tuple deleting the entire tuple is possible but deleting one value in tuple is not possible.
del tupl2[-1]

In [ ]:
tupl2[-1]=2

In [32]:
del tup1

### sort, index & count

In [33]:
tupl3

(2, 3, 4.56, 'Bharat', (1, 2), (2.3, 4.2), ('nit', 'get'))

In [34]:
tupl2

(2, 3, 4, 5, 1, 5, 6, 7, 9)

In [35]:
tup2

(1, 2, 3, 4, 5, 6)

In [36]:
tup=(1,2,2,4,5,7,4,1,3)

In [37]:
print('count of 2 is ',tup.count(2))
print('count of 1 is ',tup.count(1))
print('count of 5 is ',tup.count(5))

count of 2 is  2
count of 1 is  2
count of 5 is  1

In [38]:
tupl3.index(4.56)

2

In [39]:
tupl2.index(5)

3

In [40]:
tupl2.index(9)

8

In [41]:
sorted(tupl2)

[1, 2, 3, 4, 5, 5, 6, 7, 9]

In [42]:
sorted(tup)

[1, 1, 2, 2, 3, 4, 4, 5, 7]

## Set Creation

In [43]:
set1={} # set is created by {}
set1

{}

In [44]:
type(set1)

dict

In [45]:
set2={1,2,4,3,5,6,7}
set2

{1, 2, 3, 4, 5, 6, 7}

In [46]:
type(set2)

set

In [47]:
set3={1,1,2,2,3,4,5,6,6,9,8,7} # set doesnot allow duplicate values and it is ordered 
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [48]:
print(type(set3))

<class 'set'>

In [49]:
set4={1,2,3.4,12.87,'Bharat','ok',(0,4,5)} #mixed set and does not allow mutable items like list.
set4

{(0, 4, 5), 1, 12.87, 2, 3.4, 'Bharat', 'ok'}

### loops & membership

In [50]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [51]:
for i in set3:
    print(i)

1
2
3
4
5
6
7
8
9

In [52]:
for i in enumerate(set4):
    print(i)

(0, 1)
(1, 2)
(2, 3.4)
(3, 'Bharat')
(4, 'ok')
(5, 12.87)
(6, (0, 4, 5))

In [53]:
1 in set3

True

In [54]:
3.4 in set3

False

In [55]:
'Bharat' in set4

True

In [56]:
if 'Bharat' in set4:
    print("Bharat Kumar is in the set.")
else:
    print('No data found')

Bharat Kumar is in the set.

In [57]:
if 'Nit' in set4:
    print("Naresh IT")
else:
    print("No data found")

No data found

### Add, Removing & Copying

In [58]:
myset={'one','two','three','four','five','six'}
myset

{'five', 'four', 'one', 'six', 'three', 'two'}

In [59]:
myset.add('seven') #add() to add single value to the set
myset

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [60]:
myset.update(['eight','nine','ten']) # update() is use to add multiple values to the set
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [61]:
myset.remove('ten') #we use  remove & discard to delete a value fro the set

In [62]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [63]:
myset.discard('nine') 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [64]:
myset.remove('nine')

KeyError: 'nine'

In [65]:
myset.discard('nine') # diff b/w remove & discard is if a value is not presnt in the set the discard will not genarate error but remove will show error

In [66]:
myset.clear() #used for clear all value in the set
myset

set()

In [67]:
del myset # used to del the set

In [68]:
myset

NameError: name 'myset' is not defined

In [69]:
myset={'one','two','three','four','five','six'}
myset

{'five', 'four', 'one', 'six', 'three', 'two'}

In [70]:
myset1=myset

In [71]:
id(myset), id(myset1) # by equalating the set to each other they have same address so change in one set effect the other.

(1884139648640, 1884139648640)

In [72]:
myset2=myset.copy()
myset2

{'five', 'four', 'one', 'six', 'three', 'two'}

In [73]:
id(myset), id(myset2) # using copy() we have created a new set with diff address so changes in one set not effect the other

(1884139648640, 1884139648864)

In [74]:
myset.add('seven')
myset

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [75]:
myset1 # change in myset effected it

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [76]:
myset2 # change in myset doesnt effect it

{'five', 'four', 'one', 'six', 'three', 'two'}

### Set Operation

In [77]:
# intersections(&), difference, symetric difference , superset, sub set & disjoint,

In [78]:
A={1,2,3,4,5,6}
B={4,5,6,7,8}
C={8,9,10,11,12,13}

In [79]:
A.intersection(B) # prints the common elements in A & B

{4, 5, 6}

In [80]:
A&B , B&A

({4, 5, 6}, {4, 5, 6})

In [81]:
A & C

set()

In [82]:
A.intersection_update(B) # changes the A values to A&B values
A

{4, 5, 6}

#### Difference(-)

In [83]:
A={1,2,3,4,5,6}
B={4,5,6,7,8}
C={8,9,10,11,12,13}

In [84]:
A.difference(B) # prints the values of A that are not present in B

{1, 2, 3}

In [85]:
A-B

{1, 2, 3}

In [86]:
B-A

{7, 8}

In [87]:
A-B, B-A

({1, 2, 3}, {7, 8})

In [88]:
A-C, C-A

({1, 2, 3, 4, 5, 6}, {8, 9, 10, 11, 12, 13})

In [89]:
A.difference_update(B)
A

{1, 2, 3}

In [90]:
B

{4, 5, 6, 7, 8}

In [91]:
C.difference_update(B)
C

{9, 10, 11, 12, 13}

#### Symmetric Difference(^)

In [92]:
A={1,2,3,4,5,6}
B={4,5,6,7,8}
C={8,9,10,11,12,13}

In [93]:
A.symmetric_difference(B) # prints the values that are differ in both sets

{1, 2, 3, 7, 8}

In [94]:
A^B

{1, 2, 3, 7, 8}

In [95]:
C^A

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13}

In [96]:
A

{1, 2, 3, 4, 5, 6}

In [97]:
A.symmetric_difference_update(B) #update the A values to A^B values
A

{1, 2, 3, 7, 8}

#### Superset, Subset & Disjoint

In [98]:
A={1,2,3,4,5,6,7}
B={4,5,6,7}
C={8,9,10,11,12,13}

In [99]:
A.issuperset(B) # superset if the A contain all values of B

True

In [100]:
A.issubset(B)

False

In [101]:
B.issubset(A) # if the all value of B are in A then B is subset

True

In [102]:
A.isdisjoint(C) # if A and C doesnt have any common values

True

#### Other built in funtions

In [103]:
A={1,2,3,4,5,6,7}

In [104]:
sum(A)

28

In [105]:
max(A)

7

In [106]:
min(A)

1

In [107]:
len(A)

7

In [108]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7)]

In [109]:
D=sorted(A,reverse= True)

In [110]:
D

[7, 6, 5, 4, 3, 2, 1]

In [111]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7]

### Dictionary

In [112]:
mydict =dict()
mydict

{}

In [113]:
mydict={}
mydict

{}

In [114]:
mydict={1:'One', 2:'Two', 3:'Three',4:'Four'}
mydict

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [115]:
mydict1=dict({'A':'Apple','B': 'Ball','C':'Cat'}) # creating dict with simmilar datatype
mydict1

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [116]:
mydict2={1:"Aa",'A':'Bb',3:'Cc'} # dict with differ data types
mydict2

{1: 'Aa', 'A': 'Bb', 3: 'Cc'}

In [117]:
mydict.keys()

dict_keys([1, 2, 3, 4])

In [118]:
mydict.values()

dict_values(['One', 'Two', 'Three', 'Four'])

In [119]:
mydict.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four')])

In [120]:
mydict3={1:'One', 2:'Two', 3:['A','B','c']}
mydict3

{1: 'One', 2: 'Two', 3: ['A', 'B', 'c']}

In [121]:
mydict4={1:'One', 2:'Two', 'A':['App','Bat','car'],'B':[23,45,67]}
mydict4

{1: 'One', 2: 'Two', 'A': ['App', 'Bat', 'car'], 'B': [23, 45, 67]}

In [122]:
keys={'a','b','c'}

In [123]:
mydict5=dict.fromkeys(keys)
mydict5

{'a': None, 'c': None, 'b': None}

In [124]:
values=30
mydict5=dict.fromkeys(keys,values)
mydict5

{'a': 30, 'c': 30, 'b': 30}

In [125]:
keys={'a','b','c'}
values=[20,30,40]
mydict6=dict.fromkeys(keys,values)

In [126]:
values.append(50)

In [127]:
mydict6

{'a': [20, 30, 40, 50], 'c': [20, 30, 40, 50], 'b': [20, 30, 40, 50]}

### Accessing, Adding, Removing , chainging & Copying items

In [169]:
# we can access an value by using the key and by using get() method
mydict5={'Name': 'Bharat', 'Age' : 22, 'Place':'Srikakulam'}
mydict5

{'Name': 'Bharat', 'Age': 22, 'Place': 'Srikakulam'}

In [170]:
mydict

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [171]:
mydict[1]

'One'

In [172]:
mydict.get(1)

'One'

In [173]:
mydict5['Name']

'Bharat'

In [174]:
mydict5.get('Place')

'Srikakulam'

In [175]:
# we can add items in dict as follows
mydict5['Height']=178
mydict5

{'Name': 'Bharat', 'Age': 22, 'Place': 'Srikakulam', 'Height': 178}

In [176]:
# we can change items in dict by update() and as follows
mydict5['Place']='Gajapati dist'
mydict5['Name']='T Bharat Kumar'
mydict5

{'Name': 'T Bharat Kumar', 'Age': 22, 'Place': 'Gajapati dist', 'Height': 178}

In [177]:
dict5={'Age': 21}
mydict5.update(dict5)
mydict5

{'Name': 'T Bharat Kumar', 'Age': 21, 'Place': 'Gajapati dist', 'Height': 178}

In [178]:
# we use pop() and popitem() to remove items from the dict
mydict5.pop('Height')
mydict5

{'Name': 'T Bharat Kumar', 'Age': 21, 'Place': 'Gajapati dist'}

In [179]:
mydict5.popitem() # last item wil remove
mydict5

{'Name': 'T Bharat Kumar', 'Age': 21}

In [180]:
# we use clear() to remmove all items
mydict5.clear()
mydict5

{}

In [181]:
# We use del to delete the dictionary 
del mydict5

In [182]:
mydict6

{'a': [20, 30, 40, 50], 'c': [20, 30, 40, 50], 'b': [20, 30, 40, 50]}

In [183]:
mydict={'Name': 'Bharat', 'Age' : 22, 'Place':'Srikakulam'}
mydict

{'Name': 'Bharat', 'Age': 22, 'Place': 'Srikakulam'}

In [184]:
mydicto1=mydict

In [185]:
id(mydicto1) , id(mydict)

(1884155349440, 1884155349440)

In [186]:
mydicto2=mydict.copy()

In [187]:
id(mydicto2)

1884155259584

In [188]:
mydict['Place'] = 'Gajapathi dist'

In [190]:
print(mydict) # Change in mydict  effects mydicto1 but not mydicto2
print(mydicto1)
print(mydicto2)

{'Name': 'Bharat', 'Age': 22, 'Place': 'Gajapathi dist'}
{'Name': 'Bharat', 'Age': 22, 'Place': 'Gajapathi dist'}
{'Name': 'Bharat', 'Age': 22, 'Place': 'Srikakulam'}

### Looping in dictionary

In [192]:
mydict

{'Name': 'Bharat', 'Age': 22, 'Place': 'Gajapathi dist'}

In [195]:
for i in mydict:
    print(i) # prints only keys

Name
Age
Place

In [196]:
for i in mydict:
    print(i,':',mydict[i]) # prints keys & Values

Name : Bharat
Age : 22
Place : Gajapathi dist

In [198]:
for i in mydict:
    print(mydict[i]) #prints values in dict

Bharat
22
Gajapathi dist

### Dictionary mebership

In [199]:
mydict

{'Name': 'Bharat', 'Age': 22, 'Place': 'Gajapathi dist'}

In [200]:
'Name' in mydict

True

In [202]:
'Bharat' in mydict # membership only works for the keys

False

In [203]:
'Gajapathi dist' in mydict['Place']

True

### All/ Any in dictonory

In [208]:
mydict

{'Name': 'Bharat', 'Age': 22, 'Place': 'Gajapathi dist'}

In [209]:
all(mydict)

True

In [210]:
any(mydict)

True