### Loops

In [1]:
# while loop- it is an iterative statement used for print the value untill the conditional is true 
    

i =1
while i<=5:
    print('Value is ', i)
    
    
    i=i+1

Value is  1
Value is  2
Value is  3
Value is  4
Value is  5

In [2]:
i=2
while i<= 4:
    print('Welcome to Hyderabad')
    
    i+=1

Welcome to Hyderabad
Welcome to Hyderabad
Welcome to Hyderabad

In [3]:
i=1
while i<= 4:
    print('Welcome to Hyderabad', end=' ')
    
    i+=1

Welcome to Hyderabad Welcome to Hyderabad Welcome to Hyderabad Welcome to Hyderabad

In [5]:
# while else 
count= 1

while count<=4:
    print('count',count)
    
    count+=1
    
else:
    print('Count ended') # after exiting the loop it prints the else stmt

count 1
count 2
count 3
count 4
Count ended

In [8]:
# nested while loop- while inside a while 
# printing the 2 and 3 tables
i=2

while i<=3:
    j=1
    
    while j<=10:
        print(f'{i}*{j}=',i*j)
        j+=1
    print(' ')
    
    i+=1

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20

3*1= 3
3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
3*7= 21
3*8= 24
3*9= 27
3*10= 30

In [9]:
i=1

while i<=3:
    print('Hello')
    
    j=1
    while j<=2:
        print('Welcome to Hyderabad')
        j+=1
    i+=1

Hello
Welcome to Hyderabad
Welcome to Hyderabad
Hello
Welcome to Hyderabad
Welcome to Hyderabad
Hello
Welcome to Hyderabad
Welcome to Hyderabad

In [19]:
i=1

while i<=3:
    print('Hello',end=",")
    
    j=1
    while j<=2:
        print('Welcome to Hyderabad',end='.')
        j+=1
        
    print( )
    i+=1

Hello,Welcome to Hyderabad.Welcome to Hyderabad.
Hello,Welcome to Hyderabad.Welcome to Hyderabad.
Hello,Welcome to Hyderabad.Welcome to Hyderabad.

#### For loop

In [24]:
n= 3
for i in range(0,n):
    print(i)

0
1
2

In [25]:
n= 3
for i in range(0,n):
    print(i,end=' ')

0 1 2

In [28]:
# for loop in string
x='BHARAT'

for i in x:
    print(i)

B
H
A
R
A
T

In [26]:
# for loop in list

li=['Bharat','Sivaji','Pradhyun','karthik']

for i in li:
    print(i)

Bharat
Sivaji
Pradhyun
karthik

In [27]:
# for loop in tuple
li=('Bharat','Sivaji','Pradhyun','karthik')

for i in li:
    print(i)

Bharat
Sivaji
Pradhyun
karthik

In [29]:
# for loop in set

se={1,2,3,4,4,5,6,7}

for i in se:
    print(i)

1
2
3
4
5
6
7

In [38]:
# for loop in Dict

Dit= dict({'a':1,'b':2,'c':3,'d':4})

for i in Dit:
    print(i,Dit[i])

a 1
b 2
c 3
d 4

In [40]:
Dit= dict({'a':1,'b':2,'c':3,'d':4})

for i in Dit:
    print(f'{i} : {Dit[i]}')

a : 1
b : 2
c : 3
d : 4

In [41]:
# iterating by index

l1= ['Hello','Welcome','Students']

for i in range(len(l1)):
    print(l1[i])

Hello
Welcome
Students

In [47]:
# for else loop

le=["Hello","Welcome","All"]

for index in range(len(le)):
    print(le[index])
else:
    print("Bye all")

Hello
Welcome
All
Bye all

In [58]:
#nested for loop

for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

#### Break, continue & pass in loops

In [63]:
# break

for i in range(0,100,5):
    if i==50:
        break
        
    print(i)

0
5
10
15
20
25
30
35
40
45

In [82]:
ava= 6

x=int(input('How many chocolate you want?'))

i=1

while i<=x:
    if x<=ava:
        print('Chocolates available')
        break
    else:
        print('out of stock')
        break
        
    i+=1

print('bye for now')

How many chocolate you want? 4

Chocolates available
bye for now

In [83]:
ava= 6

x=int(input('How many chocolate you want?'))

i=1

while i<=x:
    if x<=ava:
        print('Chocolates available')
        break
    else:
        print('out of stock')
        break
        
    i+=1

print('bye for now')

How many chocolate you want? 7

out of stock
bye for now

In [65]:
# continue

for x in 'destroy':
    if x=='t':
        continue
    print(x)

d
e
s
r
o
y

In [69]:
for x in range(0,20,2):
    if x==4 or x==14:
        continue
    print(x)

0
2
6
8
10
12
16
18

In [70]:
# pass 
for i in 'google':
    pass
print(i)

e

In [73]:
# for else

for i in range(1,31):
    if i%3==0:
        print(i)
else:
    print('iteration completed')

3
6
9
12
15
18
21
24
27
30
iteration completed

In [74]:
names=['a','b','c','d']

for i in names:
    print(i)

a
b
c
d

In [81]:
names=['a','b','c','d']
iter_obj=iter(names)

while True:
    try:
        name=next(iter_obj)
        print(name)
    except StopIteration:
        break

a
b
c
d